* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

header {
  background-color: #EE5A24;
}

main {
  display: flex;
  background-color: #F79F1F;
  height: 100vh;
}

.plan-activities {
  flex: 1;
}

form {
  margin: 5px;
  padding: 40px;
}

.fill-out,
.past-activities {
  margin: 20px;
  background-color: #EE5A24;
  border-radius: 20px;
}

.past-activities {
  overflow: scroll;
}

h2 {
  color: white;
}

.plan-activities, 
.past-activities {
  padding: 20px;
}

.activities-container > p {
  margin: 10px;
}

.category-btn > button {
  font-size: 30px;
  padding: 11px;
  border-radius: 20px;
  background-color: #FFC312;
  color: white;
  border: none;
}

.category-btn > button:hover {
   background-color: #F79F1F;
   color: black;
   cursor: grab;
}

.category-btn {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 20px;
}

.submit-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFC312;
    color: white;
    display: block;
    margin: 20px auto;
    border: none;
}

.submit-btn:hover {
  background-color: #F79F1F;
  color: black;
  cursor: grab;
}

label {
  display: inherit;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.timing-input {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.task-input {
  margin: 30px;
}

input {
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    background: transparent;
    border: transparent;
    border-bottom: 2px solid;
}

.users-task {
    padding: 18px;
    margin: 20px;
    background: #FFC312;
    width: 21em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.delete {
  background-color: transparent;
  color: red;
  font-size: 20px;
  border: none;
  cursor: grab;
  font-weight: bold;
  padding: 18px;
  border-radius: 50%;
}

.delete:hover {
  background-color: red;
  color: white;
}

.task-info {
  flex: 1;
}

.add-notification {
  margin-top: 6em;
}